* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.list {
	overflow-x: auto; /* Đảm bảo không xuất hiện thanh trượt ngang, chỉ khi cần */
}

.tableHeader th {
	background-color: #343a40 !important;
	color: white;
}
.table-bordered {
	border: 1px solid #ddd;
}
th,
td {
	white-space: nowrap;
}
